.configs-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.configs-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 64px;
}

.configs-content .p-tabmenu .p-menuitem-link {
  background: transparent;
}

.configs-content .subscriptions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 80vw), 1fr));
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
}

.configs-content .library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 80vw), 1fr));
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
}
