.cape {
  max-width: 100%;
  width: 100%;
  height: 360px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.--selected-cape {
  border: 1px solid var(--primary-color);
}

.cape .p-card-content,
.cape .p-card-body {
  padding: 0px !important;
}

.cape .viewer {
  display: flex;
  min-width: 220px;
  min-height: 300px;
}

.cape .actions {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
