.signin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.signin-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 64px;
}

.signin-card {
  max-width: 450px;
  width: 100%;
}

.signin-card .p-field {
  margin-top: 20px;
}
