.header {
  background-color: var(--surface-card);
  border-bottom: 1px solid var(--surface-border);
  border-radius: 0;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
}

.header .header-start {
  display: flex;
  align-items: center;
}

.header .header-start .title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.header .header-end {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .header-end .header-language {
  display: flex;
  align-items: center;
}

.header .header-end .header-language .header-language-dropdown {
  min-width: 80px;
  font-weight: 600;
}

.language-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.language-option .flag {
  width: 18px;
  height: 14px;
}

@media (max-width: 480px) {
  .header .header-end .p-button-label,
  .language-option .label {
    display: none;
  }

  .header .header-end .p-button-icon {
    margin-right: 0 !important;
  }
}

.header .p-menubar-root-list {
  align-items: center;
}

.header .header-button {
  font-weight: 600;
}
