.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  padding-top: 64px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.admin-content .admin-table {
  margin-top: 16px;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
}

.admin-content .admin-table .p-datatable-loading-overlay {
  border-radius: var(--border-radius);
}

.admin-content .admin-table .p-datatable-thead > tr > th {
  background-color: var(--surface-d);
  color: var(--text-color);
}

.admin-content .admin-table .p-datatable-thead {
  z-index: 1;
}

.admin-content .admin-table .p-datatable-header {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.admin-content .admin-table .p-datatable-footer {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.admin-content .admin-table .admin-table-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.admin-content .admin-table .admin-table-header .title {
  font-size: x-large;
  font-weight: 900;
  font-style: bold;
}

.admin-content .admin-table .admin-table-header .image {
  width: 128px;
}

.admin-content .admin-table .admin-table-header .actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
